<section class="event_page">
    <div class="date mt-4 ml-lg-4 d-flex align-items-center justify-content-between">
        <div class="arrow"><h2><a href="/event/index/{{ previousDate }}"><</a></h2></div>
         <div class="ml-2 mr-2"><h2>{{ monthName }} {{ year }}</h2></div>
        <div class="arrow"><h2><a  href="/event/index/{{ nextDate }}">></a></h2></div>
    </div>
</section>