{% extends 'layoutAdmin.html.twig' %}

{% block content %}
    <h1 class="my-4 ml-3">Créer un nouvel évenement</h1>
    {% include 'Admin/formulaireEvent.twig' %}
    {% include 'Admin/_form.html.twig' %}
    {% include 'Admin/formCategory.html.twig' %}
{% endblock %}
