{% extends 'layoutAdmin.html.twig' %}
{% block content %}
    <div class="container-fluid m-5">
        <h1>Modification de la représentation</h1>
        {% include 'Admin/formEditRepresentation.twig' %}
        <div class="row p-5">
            <form method="post" action="/representation/delete/{{ representation.id }}">
                <input type="submit" name="delete" value="Supprimer" class="btn btn-danger">
            </form>
            <a href="/representation/index/{{ eventId }}" class="pl-3">
                <button type="button" class="btn btn-success">Retour</button>
            </a>
        </div>
    </div>
{% endblock %}
