</form>
<h2 class="my-5 ml-4">Ajouter une catégorie</h2>
<form class ="m-2 mx-5 my-5" method="post">
    <div class="form-group col-md-6">
        <label for="category">Catégorie</label>
        <input type="text" class="form-control" name="category" id="category" placeholder="Soirée spectacle">
    </div>
    <button type="submit" name="categorySubmit" class="btn btn-primary">Ajouter une catégorie</button>
</form>