{% extends 'layoutAdmin.html.twig' %}
{% block content %}
    <div class="container-fluid m-5">
        <h1>Représentations</h1>
        {% for representation in representations %}
            <h2>{{ representation.title }}</h2>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ representation.datetime }}</h5>
                        <p class="card-text">{{ representation.place }}</p>
                        <a href="#" class="card-link text-info">Modifier</a>
                    </div>
                </div>
        {% endfor %}
            <a href="/event/add"><button type="button" class="btn btn-info">Ajouter</button></a>
            <a href="/admin/index"><button type="button" class="btn btn-success">Retour</button></a>
    </div>
{% endblock %}
