 <div class="container-fluid">
     <div class="row justify-content-center mt-lg-5">
         <div class="col-lg-8 col-md-11 d-none d-md-block mx-lg-5 ml-4 p-0">
         {% include 'Home/carrousel.html.twig' %}
         </div>
         <div class="card_brochure_container d-flex flex-lg-column flex-md-row flex-sm-row flex-column justify-content-md-around justify-content-sm-around mt-4 mt-lg-0 align-items-center mr-lg-5">
             <div class="card-brochure">
                 <div class="card-body card-color d-flex flex-column justify-content-between h-100">
                     <div>
                        <h5 class="card-title pt-3 pb-3">évènements</h5>
                        <p class="card-text">Septembre / Décembre 2019</p>
                     </div>
                     <a href="http://www.ccn-orleans.com/content/programme-spectacles-expos-evenements-sept-dec-2019-planche.pdf" class="btn btn-primary" target="_blank"><i class="fas fa-download"></i> Télécharger le PDF</a>
                 </div>
             </div>
             <div class="card-brochure mt-lg-5 mt-3 mt-sm-0">
                 <div class="card-body card-color d-flex flex-column justify-content-between h-100">
                     <div>
                        <h5 class="card-title pt-3 pb-3">Activités</h5>
                        <p class="card-text">Septembre / Décembre 2019</p>
                     </div>
                     <a href="http://www.ccn-orleans.com/content/programme-ateliers-cours-sept-dec-2019.pdf" class="btn btn-primary" target="_blank"><i class="fas fa-download"></i> Télécharger le PDF</a>
                 </div>
             </div>
        </div>
     </div>
 </div>