{% block content %}
    <div class="container-fluid">
            <div class="row justify-content-end m-3">
                <div class="d-flex flex-column">
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">événements</h5>
                            <p class="card-text">Septembre / Décembre 2019</p>
                            <a href="http://www.ccn-orleans.com/content/programme-spectacles-expos-evenements-sept-dec-2019-planche.pdf" class="btn btn-primary" target="_blank"><i class="fas fa-download"></i> Télécharger le PDF</a>
                        </div>
                    </div>
                    <div class="card m-2">
                        <div class="card-body">
                            <h5 class="card-title">Activités</h5>
                            <p class="card-text">Septembre / Décembre 2019</p>
                            <a href="http://www.ccn-orleans.com/content/programme-ateliers-cours-sept-dec-2019.pdf" class="btn btn-primary" target="_blank"><i class="fas fa-download"></i> Télécharger le PDF</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}