{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
{% endblock %}
{% block content %}
    <div class=""container-fluid>
        <div class="row">
            <div></div>
            <div clas="col">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">événements</h5>
                            <p class="card-text">Septembre / Décembre 2019</p>
                            <a href="http://www.ccn-orleans.com/content/programme-spectacles-expos-evenements-sept-dec-2019-planche.pdf" class="btn btn-primary" target="_blank">Télécharger le PDF</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ateliers, Cours,
                            Formations</h5>
                        <p class="card-text">Septembre / Décembre 2019</p>
                        <a href="http://www.ccn-orleans.com/content/programme-ateliers-cours-sept-dec-2019.pdf" class="btn btn-primary" target="_blank">Télécharger le PDF</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}