<section class="m-4" id=“events”>
    <h2 class="ml-lg-5 ml-4">ÉVÈNEMENTS</h2>
    {% include 'Home/event.html.twig' %}
    <div class="event_button m-auto pt-4">
        <a href="/event/index/{{ currentDateMY.month ~ '/' ~ currentDateMY.year }}" class="btn btn-primary test">TOUS LES ÉVÈNEMENTS</a>
    </div>
</section>
