{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/home_page.css">
{% endblock %}

{% block content %}
    {% if success is not null %}
        <div class="alert alert-success">votre message a été envoyé</div>
    {% endif %}
    {% include 'Home/brochure.html.twig' %}
    {% include 'Home/shortpresentation.html.twig' %}
    {% include 'Home/eventHomePage.html.twig' %}
{% endblock %}

