<section>
    <div class="d-flex justify-content-around m-lg-5 m-4">
    <div class="mr-lg-5 p-4 d-flex flex-column justify-content-between presentation">
        <h2>PRÉSENTATION</h2>
        <div>
            <p>Dirigé depuis janvier 2017 par Maud Le Pladec, le Centre Chorégraphique National d’Orléans pose la question des publics comme son enjeu central. <br> La création dans toutes ses formes,
                de manière transversale, parcourt le projet dans toutes ses dimensions auprès de tous les publics. <br> Le CCNO propose de partager, d’explorer avec les gens l’autour,
                l’avant et l’après.<br> Ateliers lundi afterwork, samedi brunch, stages, festivals, performances, ouvertures publiques, conférences, créations participatives,
                résonnent avec le travail de la création des artistes en résidence au CCNO ou programmés au Théâtre d’Orléans</p>
        </div>
        <div class="text-center mb-3">
            <a href="/presentation/index" class="know_more">En savoir plus</a>
        </div>
    </div>
    <div class="d-sm-none d-lg-block d-none">
        <img src="/assets/images/facade_CCNO.jpg" alt="Facade du CCNO" class="presentation_img">
    </div>
    </div>
</section>
