* {
    --primary-color: #ff5499;
    --primary-color-transparent: rgba(255, 84, 153, 0.90);
    --light-primary-color: #ffd6f1;
    --footer-text-secondary-color : #c3c7cb;
    --dark: #1e1918;
    --light: #fffbfd;
}

/*Admin/Show*/

.text_admin {
    color : var(--dark);
    font-size: 1.2em;
}

.card-representation {
    width: 20rem;
    font-size: 1.3em;
}

.logo {
    width: 10rem ;
}

.nav-link {
    font-size: 2em;
}

.admin-color {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}

.btn-info {
    background-color: var(--dark);
}

.btn-info:hover {
    background-color: var(--primary-color);
}