.contact p{
    color:var(--dark) ;
    margin-left: 4%;
}

label {
    color: var(--dark);
}

.form-control{
    border-bottom: 2px solid var(--dark);
    background-color: var(--xlight-primary-color) ;
}

.send {
    font-size: 2em;
    text-align: center;
}

.send:hover{
    background-color: var(--primary-color);
}

.btn{
    letter-spacing: .1em;
}

.errors {
    color: var(--alert-color);
}