body {
    width: 100%;
    height: auto;
    color: var(--dark);
}
.banniere img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

/* Presentation */

.titre_presentation_CCNO {
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100px;
    margin-top: 13%;
    font-size: 100px;
    color: var(--light);
    letter-spacing: 0.1em;
}

.presentation_CCNO h2 {
    margin: 5% 0 3% 3%;
}

.presentation_CCNO p {
    text-align: left;
    margin: 30px 10% 0 10%;
}

hr {
    margin: 3% 15% 5% 15%;
    background-color: var(--primary-color);
}

/* equipe */

.card_presentation_ccno {
    margin: 3% 0 3% 0;
    border-color: var(--primary-color);
    box-shadow: 0 4px 14px -5px rgba(0,0,0,0.46);
}

.card_body_presentation_ccno{
    padding: 0;
}

.reference{
    padding-right: 0;
    border-color: var(--dark);
}

a {
    color: black;
}

a:hover {
    color: var(--primary-color);
}

.equipe h2 {
    margin: 70px 0 0 3%;
}

/* Acceuil */

.accueil_studio h2 {
    margin: 70px 0 3% 3%;
}

.accueil_studio p {
    text-align: left;
    margin: 0 10% 30px 10%;
}

@media screen and (max-width: 576px) {

    .accueil_studio h2 , .presentation_CCNO h2 , .equipe h2{
        text-align: center;
        margin:12% 0 8% 0;
    }

    hr {
        margin-top: 8%;
    }

    .card_presentation_ccno{
        margin: 7px 0 6% 0;
    }
}