/* HEADER */
* {
    --primary-color: #ff5499;
    --primary-color-transparent: rgba(255, 84, 153, 0.90);
    --light-primary-color: #ffd6f1;
    --xlight-primary-color: #fffafd;
    --footer-text-secondary-color : #c3c7cb;
    --dark: #1e1918;
    --light: #fffbfd;
    --alert-color: #ff0000;
    --shadow-color: rgba(0,0,0,0.29);
}

.navbar, main {
    max-width: 1400px;
    margin: auto;
}

main {
    min-height: 71vh;
}

.logo {
    width: 10rem ;
}
.navbar {
    font-size: 1.1rem;
    letter-spacing: 0.1em;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
}


.navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary-color);
}


.social_media {
    font-size: 2rem;
}

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}
.social_logo {
    display: flex;
    padding: 0;
    list-style: none;
}

/* CONTENT */
/*CARROUSEL*/
.img-fluid {
    height: 32rem;
    object-fit:cover;
}
/* BROCHURE */

.card_brochure_container {
    height: 32rem;
}

.card-brochure {
    width: 20rem;
    height: 50%;
    border-radius: 3px;
    background-color: var(--primary-color);
}

.card-color {
    color: var(--light);
}

.card-text {
    font-size: 1.2em;
}

/* FOOTER */
footer {
    background-color: var(--dark);
}

.color-title-footer {
    /* Couleur de titre */
    color: var(--light);
    font-size : 1.2em;
}

.link-footer, .link-footer:hover {
    /* Couleur de link */
    color: var(--light);
}

.logo-footer {
    /* Taille logo */
    width : 30%;
}

.footer-text {
    color: var(--footer-text-secondary-color);
}
