/* HEADER */
* {
    --flash_pink: #ff5499;
    --light_pink: #ffd6f1;
    --eerie_black: #1e1918;
    --snow: #fffbfd;
}
/* CONTENT */

/* FOOTER */

footer {
    background-color: var(--eerie_black);
}

.color-title-footer {
    /* Couleur de titre */
    color: var(--snow);
    font-size : 1.2em;
}

.link-footer, .link-footer:hover {
    /* Couleur de link */
    color: var(--snow);
}

.logo-footer {
    /* Taille logo */
    width : 30%;
}