{% block footer %}
<!-- Footer -->
<footer class="page-footer font-small pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row ml-mr-2">

            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 pl-5 left-footer">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold color-title-footer">Horaires</h5>
                <p>Du lundi au vendredi de 9h à 12h30 et de 14h à 17h30 <br/> Le samedi de 11h à 13h</p>
                <p>Tél. : 02 38 62 41 00 </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 mb-0 middle-footer">

                <!-- Content -->
                <figure class="mb-2">
                    <img class="logo-footer" src="../../assets/images/ccno-logo2-bd.png" alt="Logo CCNO">
                </figure>


            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 md-0 mb-3 right-footer pr-5">

                <!-- Content -->
                <p class="mb-0">CCN d’Orléans - 37 rue du Bourdon Blanc CS <br> 42348 - 45023 Orléans Cedex 1</p>
                <p></p>
                <p>reservation@ccn-orleans.com</p>
                <p>
                    <a class="link-footer" href="#">Mentions légales</a>
                </p>

            </div>

            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a class="link-footer" href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>

{% endblock %}
