{% extends 'layout.html.twig' %}

{% block title %}Présentation du CCNO{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="/assets/css/presentation_CCNO.css"/>{% endblock %}

{% block content %}
<div class="banniere_ccno">
    <h1 class="titre_presentation_CCNO">CCNO</h1>
    <img src="/assets/images/la_presentation_ccno.jpg" class="mb-4 m-0" alt="">
</div>
<section class="presentation_CCNO">
    <h2 class="row justify-content-center justify-content-md-start mx-5 my-5">PRÉSENTATION</h2>
    <div class="presentation_CCNO_description d-flex justify-content-around m-lg-5 m-4">
        <div class="presentation_CCNO_paragraphe mr-lg-5 p-4 d-flex flex-column justify-content-between">
    <p>Dirigé depuis janvier 2017 par Maud Le Pladec, le Centre Chorégraphique National d’Orléans pose la question des publics comme son enjeu central.
        La création dans toutes ses formes, de manière transversale, parcourt le projet dans toutes ses dimensions auprès de tous les publics.
        Le CCNO propose de partager, d’explorer avec les gens l’autour, l’avant et l’après.
        Ateliers lundi afterwork, samedi brunch, stages, festivals, performances, ouvertures publiques, conférences, créations participatives,
        résonnent avec le travail de la création des artistes en résidence au CCNO ou programmés au Théâtre d’Orléans.</p>
    <p>Le CCNO ouvre ses portes le plus largement possible, arpente la ville et les territoires, les espaces publics, les écoles,
        les associations et initie de nombreux projets en partenariat, «avec» dans un mouvement d’«aller vers».</p>
    <p>Multiplier les pratiques, les regards, donner l’impulse dans un va-et-vient permanent entre le voir et le faire, pour le spectateur comme pour l’amateur de toutes les danses.
        tout est question d’accessibilité, ou comment rendre possible la rencontre, tisser du lien. Faire danser la ville pour la visibilité de chaque corps dans l’espace de la cité.</p>
    <p>Inscrit au sein du Théâtre d’Orléans auprès de la Scène nationale, du Centre dramatique national et le CADO,
        le CCNO contribue à la dynamique collective de ce quartier de la création favorisant le développement de projets créatifs et innovants au service des publics.</p>
        </div>
        <div class="d-sm-none d-lg-block d-none">
            <img src="/assets/images/hall.jpg" class="img_description" alt="">
        </div>
    </div>
</section>
    <hr/>
    {% set teams = [
        {'name': 'José Alves', 'postOccuped': 'Directeur technique', 'mail': 'josealves@ccn-orleans.com','image': '/assets/images/person-grey-man.jpg'},
        {'name': 'Pauline Heng', 'postOccuped': 'Comptable', 'mail': 'paulineheng@ccn-orleans.com', 'image': '/assets/images/person-grey.jpg'},
        {'name': 'Raïssa Kim', 'postOccuped': 'Secrétaire générale', 'mail': 'raissakim@ccn-orleans.com', 'image': '/assets/images/person-grey-girl.jpg'},
    ] %}
<section class="equipe">
    <h2 class="row equipe_presentation_ccno justify-content-center justify-content-md-start mx-5">L'ÉQUIPE</h2>
    <div class="row no-gutters justify-content-around">
        {% for team in teams %}
        <div class="card_presentation_ccno col-11 col-sm-5 col-lg-5 col-xl-3 mt-5" style="width:500px">
            <img class="card-img-top" src="{{ team.image }}" alt="Card image">
            <div class="card-img-overlay p-0">
                <h4 class="card-title presentation_title">{{ team.postOccuped }}</h4>
            </div>
            <p class="card-text presentation_test_ccno my-3 text-center">{{ team.name }}</p>
            <div class="fa-envelope_center">
                <a href="mailto:{{ team.mail }}" class= "btn btn-primary stretched-link far fa-envelope p-0 mb-3"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
    <hr/>
<section class="accueil_studio">
    <h2 class="row accueil_studio_h2 justify-content-center justify-content-md-start mx-5 my-5">ACCUEIL STUDIO</h2>
    <div class="accueil_studio_description d-flex justify-content-around m-lg-5 m-4">
        <div class="accueil_studio_paragraphe mr-lg-5 p-4 d-flex flex-column">
    <p>Le CCNO propose aux compagnies un espace de travail de même qu’un soutien logistique et
        technique pour leur permettre d’élaborer leurs créations dans les meilleures conditions.
        Les studios peuvent également être mis à disposition pour ces mêmes projets.</p>
    <p>
    <p>
       Pour chercher, fabriquer, créer, les artistes ont besoin de travailler dans les studios.
       Le CCNO leur ouvre ses portes autant que possible.
       Grâce à leur présence dans le Centre chorégraphique et dans la ville, les imaginaires s’ouvrent et voyagent.
       Chaque équipe accueillie est associée à cet enjeu essentiel de mise en commun et de rencontre.
    </p>
        Dans le cadre du dispositif “accueil studio”, les compagnies sont accueillies en résidence et bénéficient d’un soutien financier pour consolider/ matérialiser leur projet artistique.
        Ces résidences sont ponctuées d’ouvertures publiques pour le public et l’opportunité pour les artistes de partager le processus en cours.</p>
    <p>
        Le protocole de demande d’accueil-studio au CCNO vaut également pour toutes les demandes de prêts de studio.
        Un comité de lecture est mis en place et réunit cinq membres de l’équipe permanente du CCNO deux fois dans l’année.</p>
    <p>
        Grâce au dispositif de l’accueil-studio, le CCNO peut coproduire et accueillir une dizaine de projets chorégraphiques chaque année.
        Ce dispositif est devenu aujourd’hui un maillon incontournable de la production en danse et un levier considérable pour pouvoir répéter et créer.
    </p>
        </div>
        <div class="d-sm-none d-lg-block d-none">
        <img src="/assets/images/atelier.jpg" class="img_atelier" alt="">
        </div>
    </div>
</section>
{% endblock %}
