<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<img src="/assets/images/ccno-logo.png" alt="">
    <h1>Bonjour Admin,</h1>
    <p>vous avez reçu un message de la part de</p>
    <p>Nom: {{ data.name }}</p>
    <p>Email: {{ data.email }}</p>
    <p>Message: {{ data.message }}</p>
    <a href="http://www.ccn-orleans.com/">Le site du CCNO</a>
</body>
</html>