<div class="tab mt-5 mx-auto d-flex">
    <a href="/activity/index/course" class="{{isCourse ? 'active' : 'none-active'}} course-tab tab-content w-50 d-flex align-items-center justify-content-around">COURS</a>
    <a href="/activity/index/training" class="{{isTraining ? 'active' :'none-active'}} formation-tab tab-content w-50 d-flex align-items-center justify-content-around">FORMATIONS</a>
</div>