<div class="tab mt-5 mx-auto d-flex">
    <a href="/activity/course" class="course-tab tab-content w-50 d-flex align-items-center justify-content-around">COURS</a>
    <a href="/activity/formation" class="formation-tab tab-content w-50 d-flex align-items-center justify-content-around">FORMATIONS</a>
</div>